body{
    background-color: whitesmoke;
    font-family: "Helvetica Neue", sans-serif;
}

.content{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: 100;
    margin-top: 5%;
    margin-bottom: 2%;
}

#new{
    padding: 16px 16px 16px 60px;
    border: none;
    width: 50%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.container{
    margin-top: 1px;
    border-top: 1px solid #e6e6e6;
    width: 54.5%;
    background-color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 100%;
}

.liste{
    grid-column: 1;
}

.edited{
    color: lightcoral;
}

.grid{
    padding: 5px 0;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    grid-auto-rows: 70px;
    align-items: center;
}

.far{
    grid-column: 1;
    align-items: center;
    text-align: center;
}

p, .edit{
    font-size: 24px;
    font-weight: lighter;
    grid-column: 2;
    width: 80%;
}

.icones{
    grid-column: 3;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    align-items: center;
}

.done{
    text-decoration: line-through;
    color: gray;
    opacity: 0.5;
}

.checked{
    color: darkgreen;
}

.far, .fas {
    font-size: larger;
}

