.container{
    width: 50%;
}

.edited{
    color: lightcoral;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.done{
    text-decoration: line-through;
    color: gray;
    opacity: 0.5;
}

